div.row
  div.span3
    h2(id='list', data-id=list_id, data-current-step=list.current_step)= list.name
  div.span4
    h5=new Date()

form
  dl
    each step,i in list.steps
      dt
        label(for=i).checkbox
          input(type='checkbox', id=i)
          = step.name
      - if (step.body != '')
        dd
          pre= step.body

script(type='text/javascript', src='/javascripts/list.js')
