div.row
  div.span6
    h2= list.name
  div.span6
    h5=new Date()
hr

form
  dl#list(data-id=list.id, data-checked=JSON.stringify(list.checked))
    each step,i in list.steps
      dt
        label(for=i).checkbox
          input(type='checkbox', id=i)
          = step.name
      - if (step.body.trim() != '')
        dd
          pre= step.body

script(type='text/javascript', src='/javascripts/list.js')
